@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: var(--font-montserrat), sans-serif;
  scrollbar-gutter: stable;
}

.serif {
  font-family: var(--font-bitter), serif;
}

:root {
  --color-current-bg: 6 7 9;  /* rgb values for Tailwind */
  --color-current-text: 250 250 250;  /* light text for dark bg */
  --color-current-accent: 234 179 8;  /* example accent */
}